[Unit]
Description=RGB MATRIX Panel Clock Display Service
After=syslog.target

[Service]
Type=simple
WorkingDirectory=/home/pi/rpi-rgb-led-matrix/rpi-rgb-led-matrix/bindings/python/samples
ExecStart=/home/pi/rpi-rgb-led-matrix/rpi-rgb-led-matrix/bindings/python/samples/clock.py --led-rows=16 --led-brightness=40
TimeoutStopSec=5
StandardOutput=null

[Install]
WantedBy = multi-user.target
